<%- include("partials/header.ejs") %>

<div>
  <h1>Home</h1>
  <p><%= homeStartingContent %></p>
</div>

<div class="posts-area">
  <% for(var i = 0 ; i < posts.length; i++){ %>
  <h2><%= posts[i].title %></h2>
  <div class="home-post">
    <% let postBody = posts[i].body; %> 
    <% if(postBody.length > 100) {postBody = postBody.substring(0, 100) + "....\t";}%>
    <p><%= postBody %></p>
    <% if(postBody.length > 100) {%>
    <a href= <%="/posts/" + posts[i]._id %>>Read more</a>
    <% } %>
  </div>
  <% } %>
</div>

<%- include("partials/footer.ejs") %>
